# Week 3: Subsets and Tables

This week we will focus on subsetting data and analyzing categorical data through one-way and two-way tables.

## First, let's load in the Polity-2 data from Monday's lecture.

In [10]:
# read in polity-2 data
polity2 <- read.csv('happiness_polity_2018.csv')
head(polity2)

  countryname polity2 polity2_cat gdpcapita gdpcapita_cat happiness
1 Afghanistan -1      anocracies   2190.751 low-income    2.694
2 Albania      9      democracies 13602.374 middle-income 5.004
3 Algeria      2      anocracies  11475.844 middle-income 5.043
4 Argentina    9      democracies 22742.701 middle-income 5.793
5 Armenia      7      democracies 12720.883 middle-income 5.062
6 Australia   10      democracies 49563.000 rich          7.177
  happiness_cat    life_expectancy life_expectancy_cat
1 least happy      52.6            shortest lives
2 middle happiness 68.7            middle
3 middle happiness 65.9            middle
4 middle happiness 68.8            middle
5 middle happiness 66.9            middle
6 most happy       73.6            longest lives

We can see that our dataset has nine columns. 

## Let's subset our data only to those countries whose GDP per capita falls in the 'low-income' category.

In [11]:
# create a subset of the data 
polity2.low.income <- NULL # your code here 
head(polity2.low.income)

NULL

## Categorical vs continuous variables

What if we want to know, among low income countries, how many belong to each happiness category? We see that happiness has been coded in two different ways here: as a continuous variable and as a categorical variable. 

What is the difference between those two types of variables?

In [12]:
# create a one-way table that tells us how many low-income countries belong to each happiness category
low.income.happiness.cat <- NULL # your code here
low.income.happiness.cat

NULL

## Practicing functions

Let's try a different example and test the functions we have learnt so far in class. Write code in the following code chunk to answer: 

1. What is the average happiness score in the world?
2. What is the average life expectancy among democracies?
3. Among countries with high life expectancy ('longest lives'), how many belong to each polity 2 category?

In [13]:
# average happiness score in the world
avg.happiness.score <- NULL # your code here
avg.happiness.score 

# average life expectancy among democracies
avg.life.exp.dem <- NULL # your code here 
avg.life.exp.dem

# number of long life expectancy countries in each polity 2 category 
table.polity2.long.life.exp <- NULL # your code here
table.polity2.long.life.exp

NULL

NULL

NULL

## Two Way Tables 

As we saw in lecture and earlier during section, scientific production of knowledge is an iterative process of coming up with a theory, some hypotheses to test observable implications of this theory, empirically testing those hypotheses, revising the theory, and producing knowledge. 

One way that two-way tables can be helpful is to preliminarily test theories (note of caution: correlation is not causation, as we see in Wednesday's lecture). 

Say we have a theory that democracies have a higher life expectancy. We could see what the two way relationship between government type and life expectancy looks like.

In [14]:
# two way table for polity 2 category and life expectancy 
polity.cat.life.exp <- NULL # your code here
polity.cat.life.exp

NULL

## Review 

Today we covered: 

1. Subsetting datasets
2. Calculating averages (for the entire dataset and for subsets)
3. One-way vs two-way tables
4. Preliminary look at theory vs hypotheses vs testing