# Week 2: Introduction to R Code

Today, we will go over the following R coding concepts using the Stanford store data from Monday's lecture: 
- Loading a dataset and viewing it
- Assigning variables
- Selecting a column from a dataset
- Calculating the mean of data

## Let's practice reading in data and viewing it

In [4]:
#read in the store data 
storedata <- read.csv('activity_notebook1.csv')
storedata

  Month Hoodie Sweater OskiShirt
1 Jan   180    150     801
2 Feb   154    180     651
3 March 108    150     726
4 April  90    130     489
5 May    59    115     552

In this code chunk, we have already learned three different commands: 
- We loaded in data using read.csv
- We previewed the data
- We assigned data to a variable

## Now let's practice choosing a column from the data

Using the code we learned in Monday's lecture video, in the following code chunk, select the column 'Hoodie'

In [5]:
## Your code here

What if we want to know on average, how many hoodies were sold in the store? We can calculate that using the mean() function.

In [6]:
## Your code here